body,
.header .header-main.style--one .main-menu .nav li ul,
.header .header-main.sticky,
.offcanvas-wrapper {
  background-color: #0e1012;
}

.l-gray {
  background-color: #18191b;
}

.footer-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%230e1012' fill-opacity='0.75' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.page-title-bg {
  background: url("../public/assets/img/worldmap.svg") no-repeat center center;
  background-size: cover;
}

/* h1 span,
.header .header-main.style--one .main-menu .nav li.current-menu-parent > a,
.header .header-main.style--one .main-menu .nav > li > a:hover,
.header .header-main.style--one .main-menu .nav li ul li a:hover,
.header .header-main.style--one .main-menu .nav li.current-menu-item > a {
  color: #EC4D37;
}

.header .header-main.style--one .main-menu .nav > li > a,
.header .header-main.style--one .main-menu .nav li ul li a {
  color: #fff;
} */

.about-nav-tab .nav-tabs .nav-link,
.pricing-navtab .nav-tabs .nav-link {
  background-color: #0e1012;
  border-color: #fff;
}

.single-service,
.single-project-item .project-body,
.single-project-item .single-team-member .team-info .info-front,
.single-team-member .team-info .info-front,
.single-team-member .team-info .info-back {
  background-color: #0e1012;
}

.cls-1 {
  fill: #18191b;
  fill-rule: evenodd;
}

.header .header-main.style--one .main-menu .nav li ul li a {
  color: #fff;
}

.btn {
  background-color: #d93d33 !important;
  color: #fff !important;
}

.btn.btn-white span {
  color: #d93d33 !important;
  font-weight: bold;
}

.single-feature,
.single-blog-item {
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%) !important;
}

#carouselExampleIndicators {
  padding-top: 100px;
  position: relative;
  min-height: 100vh;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 0;
}

.single-feature {
  padding: 0 0 30px 0;
}

.single-process {
  padding-left: 0;
  padding-right: 0;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

.content h3 {
  font-size: 20px;
}

#carouselExampleFade.owl-carousel {
  position: relative;
}

/* .owl-carousel .owl-nav a {
  position: relative;
  height: 40px;
  width: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.3s linear;
}

.owl-carousel .owl-nav a.owl-prev {
  margin-right: 15px;
} */

.article {
  position: relative;
  min-height: 120px;
  vertical-align: middle;
}

.article div {
  display: inline-block;
  vertical-align: middle;
}

.example-left {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
}

.example-left {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: mymove 80s linear infinite;
  animation: mymove 80s linear infinite;
}

.svg-tape {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.article {
  overflow: hidden;
  position: relative;
  min-height: 120px;
}

.svg-logos {
  height: 80px;
  width: 200px;
  margin-right: 25px;

  opacity: 0.6;
  fill: #000;
  transition: 0.3s;
}

.svg-logos:hover {
  opacity: 1;
  /* fill: #fff; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.early {
  /* animation: fadeIn ease-in 1;  call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  /* animation-fill-mode: forwards;  this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  background-color: #edd382;
  /* animation-duration: 1s; */
  /* animation-delay: 1.5s; */
}

.btn:hover {
  background-color: #b12b1a !important;
}

.btn.btn-white:hover {
  background-color: #fff !important;
}

.nav li a:hover {
  color: #ec4d37 !important;
}

.single-process.text-center {
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%) !important;
}

.single-process.text-center .content {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.list-unstyled li p {
  font-size: 12px;
}

.single-team-member .team-info .info-front,
.single-team-member .team-info .info-back {
  padding: 20px 25px;
}

.pricing-navtab .nav-tabs .nav-link {
  padding: 20px;
}

.cta-content h3 {
  line-height: 1.5;
}

.clogo {
  text-align: center;
  margin-bottom: 30px;
}

.single-brand-logo {
  padding: 20px;
  margin: 0 auto !important;
}

.brand-logo img {
  opacity: 1;
}

/* @media only screen and (min-width: 768px) { */
div.brand-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* } */

div.row.member {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-team-member .image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.row.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimg {
  border-radius: 50%;
}

/* div.row.footer .col-sm-6 {
  padding-left: 30px;
  padding-right: 30px;
} */

.section-maps {
  position: relative;
  width: 100%;
  height: 500px;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.container.map {
  width: 100%;
  height: 300px;
  padding: 0;
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 40px rgb(41, 40, 40);
  z-index: 100;
}

.pricing-navtab .nav-tabs .nav-link h2 {
  font-weight: 500;
  color: #ec4d37;
  margin-bottom: 20px;
  font-size: 18px;
}

.whatsapp-icon {
  margin-top: 16px;
}

.servTitle {
  color: #ec4d37;
}

.single-feature .content h3,
.single-process .content h3 {
  color: #ec4d37;
}

.testimonial-image {
  border-radius: 50% !important;
  width: 100%;
}

.servbtn {
  font-weight: 500;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 16px;
  }

  .whatsapp_float {
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 20px;

    font-size: 30px;
  }
}

@media (min-width: 768px) {
  div.row.footer .col-sm-6 {
    flex: 0 0 100%;
    max-width: 33%;
  }
}

.row.service-card {
  justify-content: center;
}

.project-image {
  justify-content: center;
}

.row .about-text p {
  text-align: justify;
}

.policy {
  padding-left: 30px;
  padding-right: 30px;
}

.menu-item-has-children a {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.features,
.about,
.steps,
.services,
.pricing,
.team,
.testimon,
.whowe {
  position: relative;
}

@media (max-width: 768px) {
  .article {
    position: relative;
    min-height: 100px;
    vertical-align: middle;
  }

  .list-unstyled li p {
    font-size: 10px;
  }

  .svg-logos {
    height: 70px;
    width: 180px;
    margin-right: 20px;
    opacity: 0.6;
    fill: #000;
    transition: 0.3s;
  }

  .section-maps {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .back-to-top .back-toop-tooltip {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .section-maps {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .row .about-text p {
    text-align: left;
  }

  .list-unstyled li p {
    font-size: 8px;
  }

  .pricing-navtab .nav-tabs .nav-link h4 {
    font-size: 25px;
  }

  .article {
    position: relative;
    min-height: 70px;
    vertical-align: middle;
  }

  .svg-logos {
    height: 50px;
    width: 120px;
    margin-right: 15px;
    opacity: 0.6;
    fill: #000;
    transition: 0.3s;
  }
}

.appointment-modal.modal.fade {
  margin-top: 1rem;
}

.appointment-form p,
.contact-form p {
  color: red;
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-content .contact-form-wrapper h3,
.modal-content .contact-form-wrapper p {
  color: #000;
}

@media only screen and (max-width: 991px) {
  .nav-menu {
    display: none;
    box-sizing: border-box;
  }
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

div.row.feature {
  width: 100%;
}

.btn.right span {
  text-align: right;
}
